@using BioEngine.Core.Repository
@model BioEngine.Core.Entities.Blocks.GalleryBlock
@inject StorageItemsRepository StorageItemsRepository
@{
    var pictures = await StorageItemsRepository.GetByIdsAsync(Model.Data.PictureIds);
}
<div>
    @foreach (var picture in pictures)
    {
        <span><img src="@picture.PublicUri" alt="@picture.FileName"/></span>
    }
</div>