@model BioEngine.Core.Entities.Blocks.GalleryBlock
<div>
    @foreach (var picture in Model.Data.Pictures)
    {
        <span><img src="@picture.PublicUri" alt="@picture.FileName"/></span>
    }
</div>
