@using BioEngine.BRC.Common.Routing
@using Microsoft.AspNetCore.Routing
@model BioEngine.BRC.Common.Web.Models.BlockViewModel<BioEngine.BRC.Common.Entities.Blocks.CutBlock, BioEngine.BRC.Common.Entities.Blocks.CutBlockData>
@inject LinkGenerator LinkGenerator

@{
    var publicUrl = LinkGenerator.GeneratePublicUrl(Model.ContentEntity, Model.Site);
}
<a href="@publicUrl">
    @{
        if (string.IsNullOrEmpty(Model.Block.Data.ButtonText))
        {
            <text>
                "Читать дальше"
            </text>
        }
        else
        {
            <text>
                @Model.Block.Data.ButtonText
            </text>
        }
    }
</a>
