@using BioEngine.BRC.Common
@using Sitko.Core.Storage
@model BioEngine.BRC.Common.Web.Models.BlockViewModel<BioEngine.BRC.Common.Entities.Blocks.FileBlock, BioEngine.BRC.Common.Entities.Blocks.FileBlockData>
@inject IStorage<BRCStorageConfig> Storage
<a href="@Storage.PublicUri(Model.Block.Data.File)" title="Скачать">
    Скачать файл: @Model.Block.Data.File.FileName - @Model.Block.Data.File.HumanSize - @Model.ContentEntity.DateUpdated.DateTime.ToShortDateString()
</a>
