@model BioEngine.BRC.Common.Web.Models.BlockViewModel<BioEngine.BRC.Common.Entities.Blocks.IframeBlock, BioEngine.BRC.Common.Entities.Blocks.IframeBlockData>

<div style="text-align: center">
    @* ReSharper disable once Html.Obsolete *@
    <iframe
        frameborder="0"
        allowfullscreen="allowfullscreen"
        height="315"
        src="@Model.Block.Data.Src"
        width="560">
    </iframe>
</div>
