@model BioEngine.Core.Web.Models.BlockViewModel<BioEngine.Core.Entities.Blocks.PictureBlock, BioEngine.Core.Entities.Blocks.PictureBlockData>


@{
    var image = Model.Block.Data.Picture;
    var url = !string.IsNullOrEmpty(Model.Block.Data.Url) ? Model.Block.Data.Url : image.PublicUri.ToString();
}
<a href="@url" target="_blank">
    <img src="@image.PublicUri" alt="@image.FileName"/>
</a>
