@model BioEngine.Core.Web.Models.BlockViewModel<BioEngine.Core.Entities.Blocks.TwitterBlock, BioEngine.Core.Entities.Blocks.TwitterBlockData>

@{
    var url = $"https://twitter.com/{Model.Block.Data.TweetAuthor}/status/{Model.Block.Data.TweetId}";
    var embedId = "embed" + Model.Block.Data.TweetId;
}

<div class="ipsEmbeddedOther" contenteditable="false" style="text-align:center">
    <iframe
        allowfullscreen=""
        class="ipsEmbed_finishedLoading"
        data-controller="core.front.core.autosizeiframe"
        data-embedid="@embedId"
        scrolling="no"
        src="/index.php?app=core&amp;module=system&amp;controller=embed&amp;url=@url"
        style="overflow: hidden;">

    </iframe>
</div>
