@model BioEngine.BRC.Common.Web.Models.BlockViewModel<BioEngine.BRC.Common.Entities.Blocks.TwitchBlock, BioEngine.BRC.Common.Entities.Blocks.TwitchBlockData>

@{
    var url = "https://player.twitch.tv/?";
    if (!string.IsNullOrEmpty(Model.Block.Data.VideoId))
    {
        url += $"video={Model.Block.Data.VideoId}";
    }
    else if (!string.IsNullOrEmpty(Model.Block.Data.ChannelId))
    {
        url += $"channel={Model.Block.Data.ChannelId}";
    }
    else if (!string.IsNullOrEmpty(Model.Block.Data.CollectionId))
    {
        url += $"collection={Model.Block.Data.CollectionId}";
    }
}
<p style="text-align:center">
    @* ReSharper disable once Html.Obsolete *@
    <iframe src="@url" frameborder="0" allowfullscreen="allowfullscreen" scrolling="no" height="378" width="620"></iframe>
</p>
