@model BioEngine.BRC.Common.Web.Models.BlockViewModel<BioEngine.BRC.Common.Entities.Blocks.TwitterBlock, BioEngine.BRC.Common.Entities.Blocks.TwitterBlockData>

@{
    var url = $"https://twitter.com/{Model.Block.Data.TweetAuthor}/status/{Model.Block.Data.TweetId}";
    var embedId = "embed" + Model.Block.Data.TweetId;
}

<div class="ipsEmbeddedOther" contenteditable="false" style="margin: 0 auto;">
    <iframe
        allowfullscreen="allowfullscreen"
        class="ipsEmbed_finishedLoading"
        data-controller="core.front.core.autosizeiframe"
        data-embedid="@embedId"
        scrolling="no"
        src="/index.php?app=core&amp;module=system&amp;controller=embed&amp;url=@url"
        style="overflow: hidden;">

    </iframe>
</div>
